<aside class="aside">
    <nav>
        <ul id="nav-list">
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="Add" >Add Education</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="Educations" >Educations</a>
            </li>
        </ul>
    </nav>
</aside>